header {
		background-color: var(--card);
		display: flex;
        width: 100%;
		ul {
			display: flex;
			width: 100%;
			list-style: none;
			padding: 5px;
			li:first-child {
				flex-grow: 1;
			}
		}
	}