body {
	background: var(--background);
}
@keyframes chatOpen {
	from {
		max-height: 0px;
	}
	to {
		max-height: 1000px;
	}
}

@keyframes chatClose {
	from {
		max-height: 1000px;
	}
	to {
		max-height: 0px;
		visibility: hidden;
	}
}
main.mainPage {
	display: flex;
	flex-direction: column;
	padding-top: 70px;
	width: 100%;
	height: 100%;
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--background);
		padding: 50px;
		flex-grow: 1;
		width: 100%;
		.searchBarArea {
			width: 80%;
			max-width: 1000px;
			display: flex;
			position: relative;
			z-index: 999;
			flex-direction: column;
			opacity: 0.6;
			justify-content: center;
			align-items: center;
			gap: 10px;
			transition: opacity 0.3s;
			&:has(:hover),
			&:has(input:focus),
			&:has(input:not(:placeholder-shown)),
			&.active {
				opacity: 1;
			}
			button {
				width: fit-content;
				display: flex;
				justify-content: space-between;
				background-color: color-mix(in srgb, var(--input) 95%, var(--foreground));
				align-items: center;
				padding: 10px;
				border: none;
				font-size: 1.1rem;
				border-radius: 12px;
				border: 1px solid var(--lighter-border);
				color: var(--foreground);
				height: 100%;
				transition: 0.3s background;
				&#order {
					align-self: flex-end;
					height: 40px;
				}
				&#filter {
					padding-left: 12px;
					border-radius: 12px 0 0 12px;
				}
				&.focus {
					border-radius: 0 12px 12px 0;
				}
				&:hover {
					background-color: color-mix(in srgb, var(--input) 90%, var(--foreground)) !important;
				}
			}
			.searchBar {
				display: flex;
				flex-direction: row;
				width: 100%;
				height: 60px;
				border-radius: 16px;
				justify-content: center;
				align-items: center;
				border: 1px solid var(--lighter-border);
				background-color: var(--input);
				padding: 4px;
				gap: 4px;
				position: relative;
				ul.options {
					right: 55px;
				}
				input {
					height: 100%;
					padding-left: 20px;
					flex-grow: 1;
					flex-grow: 1;
					width: 10px;
					background-color: var(--input);
					color: var(--foreground);
					border: none;
					border-radius: 16px;
					outline: none;

					font-size: 1.3rem;
					&::placeholder {
						color: var(--disabled-foreground);
					}
				}
			}
			& > ul.options {
				right: 0;
			}
			ul.options {
				border-radius: 8px;
				box-shadow: 2px 2px 15px 7px #00000099;
			}
			@media (orientation: portrait) {
				max-width: 100%;
				width: calc(100% - 30px);
				.searchBar {
					input {
						padding-left: 10px;
						font-size: 1.1rem;
					}
					button {
						font-size: 1rem;
					}
				}
			}
		}

		.coursesContent {
			display: flex;
			padding-top: 50px;
			width: 100%;
			justify-content: center;
			align-content: start;
			flex-wrap: wrap;
			gap: 38px;
			.courseCard {
				--borderSize: 3px;
				--outlineSize: 2px;

				display: flex;
				flex-direction: column;
				max-width: 400px;
				min-height: 300px;
				border-radius: 15px;
				position: relative;
				cursor: pointer;
				outline: var(--outlineSize) solid var(--lighter-border);
				border: var(--borderSize) solid var(--secondary);
				box-shadow: 10px 10px 5px #00000055;
				background-color: var(--secondary);

				transition: 0.3s box-shadow ease, transform 0.3s ease;
				&:hover:not(.disabled) {
					transform: scale(1.02);
					.image::after {
						transition: background 0.3s;
						background: transparent;
					}
					.texts p {
						color: var(--foreground);
						transition: color 0.3s;
					}
				}
				&.tenda::before {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					transform: translate(
						calc(var(--borderSize) + var(--outlineSize)),
						calc(var(--borderSize) + var(--outlineSize))
					);
					width: 65%;
					height: 65%;
					border-radius: 17px;
					transition: 0.1s box-shadow ease;
				}
				&.tenda:hover {
					box-shadow: 0px 0px 15px 6px #eab308;
					transition: 0.4s box-shadow ease, transform 0.3s ease;

					&::before {
						box-shadow: 13px 13px 15px -6px #047857e0;
					}
				}
				&.disabled {
					position: relative;
					cursor: default;

					filter: grayscale(80%) brightness(60%);
					@media (prefers-color-scheme: dark) {
						filter: grayscale(80%) brightness(50%);
					}
					&::after {
						content: 'Em breve...';
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, 0) rotate(-30deg) scale(2);
						filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.5)) drop-shadow(0 4px 3px rgb(0 0 0 / 1));
						font-size: 2rem;
						font-weight: 700;
						font-family: var(--roboto);
						color: color-mix(in srgb, var(--foreground) 70%, transparent);
					}
				}

				.image {
					border: 5px solid var(--secondary);
					border-radius: 5px;
					position: relative;
					height: fit-content;
					img {
						width: 100%;
						height: 100%;
						border-radius: 5px;
						display: block;
					}
					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						border-radius: 5px;
						height: 100%;
						background: color-mix(in srgb, var(--secondary) 40%, transparent);
						box-shadow: inset 1px 1px 10px 7px #00000090;
					}
					/* border-radius: 15px; */
					/* overflow: hidden; */
				}
				.texts {
					font-family: var(--nunito);
					color: var(--foreground);
					display: flex;
					flex-grow: 1;
					padding-top: 10px;
					padding-bottom: 20px;
					flex-wrap: wrap;
					justify-content: space-between;
					box-sizing: content-box;
					align-items: center;
					align-content: start;
					gap: 20px;
					.header {
						display: flex;
						flex-grow: 1;
						flex-wrap: wrap;
						.tags {
							flex-basis: 100%;
							flex-grow: 1;
							display: flex;
							padding-left: 15px;
							padding-right: 15px;
							align-items: center;
							justify-content: end;
							margin-bottom: 5px;
							span {
								font-size: 0.8rem;
								padding: 0px 20px;
								border-radius: 6px;
								text-transform: capitalize;
								font-weight: 600;
								font-family: var(--inter);
								&.easy {
									background-color: color-mix(in srgb, var(--green) 10%, transparent);
									border: 1px solid var(--green);
									color: var(--green);
								}
								&.medium {
									background-color: color-mix(in srgb, var(--orange) 10%, transparent);
									border: 1px solid var(--orange);
									color: var(--orange);
								}
								&.hard {
									background-color: color-mix(in srgb, var(--red) 10%, transparent);
									border: 1px solid var(--red);
									color: var(--red);
								}
							}
						}
						h1 {
							font-size: 1.3rem;
							padding-left: 20px;
							padding-right: 20px;
							font-weight: 800;
							line-height: auto;
							flex-grow: 1;
						}

						.info {
							padding-right: 15px;
							display: flex;
							align-items: center;
							span {
								color: var(--disabled-foreground);
								font-size: 1.1rem;
								font-weight: 500;
								font-family: var(--inter);
							}
						}
					}
					p {
						padding-left: 20px;
						padding-right: 20px;
						flex-basis: 100%;
						color: var(--disabled-foreground);
						font-size: 1.1rem;
					}
				}
				.progress-barDiv {
					display: flex;
					width: 100%;
					justify-content: space-between;
					align-items: center;
					flex-wrap: wrap;
					span {
						font-family: var(--inter);
						font-size: 0.8rem;
						color: var(--foreground);
						font-weight: 600;
						padding-left: 15px;
						padding-right: 15px;
						text-transform: capitalize;
					}
					.progress-bar {
						flex-basis: 100%;
						height: 10px;
						border-radius: 5px;
						margin-left: 5px;
						margin-right: 5px;
						transition: background 1s;
						margin-top: 10px;
						margin-bottom: 5px;
					}
				}
			}
		}
		@media (orientation: portrait) {
			padding: 20px;
			padding-left: 10px;
			padding-right: 10px;
			.coursesContent {
				row-gap: 30px;
				column-gap: 20px;
				justify-content: space-evenly;

				margin-left: 30px;
				margin-right: 30px;
				.courseCard {
					width: 95%;
					max-width: 350px;
					.texts {
						gap: 5px;
						padding-bottom: 10px;
						p {
							font-size: 1rem;
							padding-left: 10px;
							padding-right: 10px;
						}
						.header {
							.info {
								span {
									font-size: 1rem;
								}
							}
							h1 {
								font-size: 1.2rem;
							}
							.tags {
								span {
									font-size: 0.7rem;
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		background-color: var(--card);
	}
}

.chat {
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: flex;
	flex-direction: column;
	align-items: end;
	z-index: 1000;
	gap: 10px;
	.chatMenu {
		width: 400px;
		height: 700px;
		max-height: 0px;
		overflow: hidden;
		visibility: hidden;
		background: var(--card);
		padding: 10px;
		border: 1px solid var(--lighter-border);
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		margin-right: 40px;
		border-bottom-right-radius: 5px;
		box-shadow: 5px 5px 15px #00000099;
		transition: max-height 0.3s linear;
		&.open {
			visibility: visible;

			animation: chatOpen 0.3s ease forwards;
		}
		&.close {
			visibility: visible;

			animation: chatClose 0.3s ease forwards;
		}
		@media (orientation: portrait) {
			position: absolute;
			width: 95vw;
			z-index: 1001;
			height: 75vh;
			bottom: 0;
			right: 0;
			transform: translate(20px, -10%);
			margin-right: 0;
		}
		.chatMenuContent {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			overflow: scroll;
			overflow-y: auto;
			justify-content: start;
			gap: 10px;
			padding: 5px;
			margin-bottom: 10px;
			.msgComp {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
			.message {
				max-width: 80%;
				padding: 8px 12px;
				border-radius: 10px;
				font-size: 1.1rem;
				flex-wrap: wrap;
				overflow-wrap: break-word;
			}
			.messageUser {
				background-color: var(--secondary);
				align-self: flex-end;
				border-top-right-radius: 0;
			}
			.messageAI {
				background-color: var(--primary);
				align-self: start;
				border-top-left-radius: 0;
			}
		}
		.chatMenuForm {
			position: relative;
			textarea {
				height: 40px;
				width: 100%;
				display: block;
				min-height: 50px;
				max-height: 150px;
				resize: none;
				padding: 10px;
				padding-right: 50px;
				border: 1px solid var(--lighter-border);
				border-radius: 5px;
				color: var(--disabled-foreground);
				outline: none;
				background: var(--input);
				font-size: 1.1rem;
				transition: 0.1s height linear;
			}
			button {
				position: absolute;
				bottom: 5px;
				right: 5px;
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				border: 1px solid var(--lighter-border);
				background-color: var(--primary);
				color: var(--foreground);
				z-index: 1005;
				svg {
					/* fix: math centered to visual centered */
					transform: translate(-1px, 0px);
					display: block;
					fill: currentColor;
					filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
				}
			}
		}
	}
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 60px;
		height: 60px;
		cursor: pointer;
		color: var(--white);
		border-radius: 35px;
		background-color: var(--primary);
		box-shadow: inset -5px -5px 15px color-mix(in srgb, var(--primary) 30%, #000),
			inset 5px 5px 15px color-mix(in srgb, var(--primary) 70%, #fff), 5px 5px 15px #00000099;
		transition: transform 0.1s linear;
		svg {
			display: block;

			fill: currentColor;
			filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.35));
		}
		&:hover {
			transform: scale(1.05);
		}
	}
}
