body > header {
	margin-top: 20px;
	display: flex;
	position: absolute;
	top: 0;
	background-color: var(--card);
	box-shadow: 7px 7px 12px #00000099;
	border-radius: 15px;
	width: calc(100% - 40px);
	overflow: hidden;
	@media (orientation: portrait) {
		margin-top: 7.5px;
		width: calc(100% - 15px);
	}
	ul {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		list-style: none;
		padding: 15px;
		li {
			display: flex;
			justify-content: start;
			align-items: center;
			&#octo {
				filter: drop-shadow(0 0 10px 15px);
				flex-grow: 1;
				a{
					position: relative;
					height: 35px;
					width: 35px;
				}
				.blur {
					position: absolute;
					z-index: 3;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 15px;
					height: 15px;
					border-radius: 50px;
					box-shadow: 0 0 15px 14px color-mix(in srgb, var(--accent) 60%, transparent);
				}
				img {
					position: absolute;
					z-index: 5;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&#leaderboard{
				padding-right: 20px;
				p{
					font-size: 1.1rem;
					font-family: var(--fredoka);
					font-weight: 600;
					color: var(--foreground);
					transition: color .1s ease;
					cursor: pointer;
					&:hover{
						color: var(--primary);
					}
				}
			}
			&#pfp a {
				line-height: 0;
				color: var(--disabled-foreground);
				transition: color 0.3s, transform 0.3s;
				&:hover {
					color: color-mix(in srgb, var(--foreground) 70%, var(--disabled-foreground));
					transform: scale(1.1);
				}
			}
		}
	}
}
