body {
	display: flex;
	justify-content: center;
	align-items: center;
}
body > header {
	position: absolute;
	top: 0;
}
main {
	min-width: 30%;
	text-align: center;
	background-color: var(--card);
	border-radius: 15px;
	border: 1px solid var(--border);
	padding: 30px;
	padding-top: 15px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	@media (orientation: portrait) {
		min-width: 85%;
		.button {
			font-size: 1.2rem !important;
		}
		.googleBtn {
			background-size: 35px 35px !important;
			padding-left: 50px !important;
		}
	}
	.title {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
		h1 {
      font-size: 2.5rem;
			font-weight: 600;
			font-family: var(--varela);
      margin: 0 auto;
      width: fit-content;
      /* text-shadow: 0 0 4px color-mix(in srgb, var(--foreground) 50%, transparent); */
			background: linear-gradient(
        90deg,
				var(--pink) -15%,
				color-mix(in srgb,var(--accent) 50%, var(--primary)) 25%,
				var(--primary) 45%,
				var(--blue) 65%,
				var(--green) 95%
			);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
    &::after {
      content: '';
      width: 100%;
      border: 1px solid transparent;
      border-bottom: 2px solid var(--lighter-border);
      height: 1px;
      display: block;
    }
	}
	.buttons {
		width: calc(100% - 30px);
		display: flex;
		flex-direction: column;
		gap: 40px;
		.button {
			transition: background-color 0.3s, box-shadow 0.3s;
			height: 70px;
			padding: 12px;
			padding-right: 16px;
			padding-left: 42px;
			border: none;
			border-radius: 7px;
			box-shadow: 0 -1px 0 rgba(5, 4, 4, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

			color: var(--disabled-foreground);
			font-size: 1.4rem;
			font-weight: 500;
			font-family: 'Roboto', sans-serif;

			&:hover {
				box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
			}

			&:active {
				transform: scale(1.1);
			}

			&:focus {
				outline: none;
				box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
			}
			&.googleBtn {
				background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
				background-color: var(--foreground);
				background-size: 35px 35px;
				background-repeat: no-repeat;
				background-position: 25px 50%;
				transform: rotate(3deg);
			}
		}
	}
}
