@keyframes rotateSeparator {
	0%,
	100% {
		transform: rotateX(0deg);
	}
	50% {
		transform: rotateX(60deg);
	}
}
body:has(.loginPage) {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
body:has(.loginPage) > header {
	position: absolute;
	top: 0;
}
@keyframes backgroundAnimation {
	0%,
	100% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 100% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	75% {
		background-position: 0% 100%;
	}
}
main.loginPage {
	min-width: 30%;
	--color-radial-bg: var(--pink) 20%, var(--primary) 40%, var(--primary) 60%, var(--blue) 70%, var(--blue) 80%,
		var(--green);
	background: radial-gradient(ellipse 55% 50% at center, var(--color-radial-bg));
	@media (orientation: portrait) {
		background: radial-gradient(ellipse 60% 60% at center, var(--color-radial-bg));
	}
	background-size: 200% 200%;
	animation: backgroundAnimation 7s linear infinite;
	border-radius: 15px;
	padding: 2px;
	box-shadow: 0 0 15px #00000088;

	.main {
		text-align: center;
		background-color: var(--card);
		border-radius: 15px;
		padding-top: 15px;
		padding-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		gap: 10px;
		z-index: 1;
		@media (orientation: portrait) {
			min-width: 85%;
			.button {
				font-size: 1.2rem !important;
			}
			.googleBtn {
				background-size: 35px 35px !important;
				padding-left: 50px !important;
			}
		}
		.title,
		.buttons,
		footer {
			width: calc(100% - 60px);
			margin-left: 30px;
			margin-right: 30px;
		}
		.title {
			margin-top: 10px;
			text-align: center;
			h1 {
				font-size: 2.5rem;
				font-weight: 600;
				font-family: var(--varela);
				margin: 0 auto;
				width: fit-content;
				background: linear-gradient(
					90deg,
					var(--pink) -15%,
					color-mix(in srgb, var(--accent) 50%, var(--primary)) 25%,
					var(--primary) 45%,
					var(--blue) 65%,
					var(--green) 95%
				);
				@media (prefers-color-scheme: dark) {
					background: radial-gradient(circle, var(--blue) 0%, var(--primary) 20%, var(--accent) 130%);
				}
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			p {
				font-size: 1.1rem;
				color: var(--disabled-foreground);
				font-weight: 500;
				font-family: var(--nunito);
			}
		}

		.divisor {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin: 30px 0;

			.division {
				flex: 1;
				height: 1px;
				background: linear-gradient(90deg, transparent, var(--lighter-border), transparent);
				border-radius: 50%;
				animation: rotateSeparator 2s linear infinite;
			}
			span {
				margin: 0 15px;
				color: var(--disabled-foreground);
				font-weight: 500;
				font-family: var(--lato);
			}
		}
		.buttons {
			display: flex;
			flex-direction: column;
			gap: 20px;
			flex: 1;
			.button {
				transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s, color 0.3s;
				height: 65px;
				padding: 12px;
				padding-right: 16px;
				border-radius: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				background-color: var(--input);
				border: 2px solid var(--lighter-border);
				box-shadow: 7px 7px 5px #00000077;
				color: var(--disabled-foreground);
				font-size: 1.3rem;
				font-weight: 500;
				font-family: var(--roboto);
				position: relative;
				svg {
					position: absolute;
					left: 20px;
					transition: transform 0.2s;
				}
				&.githubBtn {
					svg {
						color: var(--primary);
					}
				}
				&.linkedinBtn {
					svg {
						color: var(--blue);
					}
				}

				&:hover {
					transform: scale(1.05);
					color: var(--foreground);
					svg {
						transition: transform 0.5s;
						transform: rotateY(360deg) scale(1.3);
					}
				}

				&:active {
					transform: scale(1.1);
				}

				&:focus {
					outline: none;
					box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
				}
			}
		}
		.enterWithoutLogin {
			> p {
				color: var(--disabled-foreground);
				cursor: pointer;
				font-weight: 500;
				font-family: var(--roboto);
				border-radius: 12px;
				padding: 5px 10px;
				/* margin: 0 10px; */
				border: 2px solid var(--lighter-border);
				transition: 0.2s color ease, 0.2s background ease, 0.2s border ease, 0.2s transform ease;
				&:hover {
					border: 2px solid var(--disabled-foreground);
					background: var(--disabled-foreground);
					color: var(--card);
					transform: scale(1.05);
				}
			}
		}
		footer {
			color: var(--disabled-foreground);
			font-family: var(--lato);
			height: 20px;
			width: 100%;
			margin-top: 20px;
			margin-bottom: 0;
			p {
				position: absolute;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
				width: calc(100% - 60px);
			}
			a {
				color: var(--primary);
				text-decoration: none;
				font-weight: 600;
				white-space: nowrap;
				transition: text-shadow 0.3s;
				&:hover {
					text-shadow: 0 0 5px var(--primary);
				}
			}
		}
	}
}

.filterDark {
	position: absolute;
	top: 0;
	left: 0;
	width: 200vw;
	height: 200dvh;
	transition: 0.3s background;
	z-index: 9998;
	visibility: hidden;
	&.active {
		visibility: visible;
		background-color: #000000aa;
	}
}
.popUp {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40vw;
	transform: translate(-50%, -50%) scale(0);
	background: var(--background);
	padding: 18px;
	border: 1px solid var(--lighter-border);
	border-radius: 15px;
	text-align: center;
	z-index: 9999;
	transition: transform 0.3s ease;
	&.active {
		transition: transform 0.3s cubic-bezier(0.17, 0.4, 0.38, 1.53);
		transform: translate(-50%, -50%) scale(1);
	}
	@media (orientation: portrait) {
		width: 95vw;
	}
	h1 {
		font-size: 1.5rem;
	}
	p {
		font-size: 1.2rem;
		color: var(--disabled-foreground);
		padding: 0 10px;
		padding-bottom: 10px;
	}
	.options {
		display: flex;
		gap: 10px;
		align-items: center;
		margin-top: 20px;
		button {
			flex: 1;
			background-color: var(--input);
			color: var(--foreground);
			text-decoration: none;
			height: 50px;
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.2rem;
			border-radius: 5px;
			font-family: var(--lato);
			font-weight: 700;
			border: 1px solid var(--lighter-border);
			transition: transform 0.3s ease, background 0.3s ease;
			&:hover {
				transform: scale(1.03);
				background-color: color-mix(in srgb, var(--input) 95%, var(--foreground));
			}
			&.enterWithoutLoginBtn {
				background-color: var(--red);
				&:hover {
					background-color: color-mix(in srgb, var(--red) 85%, var(--foreground));
				}
			}
		}
	}
}
