:root {
	--background: oklch(0.12 0.02 285); /* background color for body */
	--foreground: oklch(0.98 0.01 285); /* text color */
	--border: oklch(0.25 0.04 285); /* color for thin lines like border or hr tags */
	--card: oklch(0.16 0.03 285); /* lighter color for background items */
	--primary: oklch(0.65 0.25 285); /* main color for the app */
	--secondary: oklch(0.22 0.03 285); /* idk */
	--accent: oklch(0.55 0.22 320); /* bright color for enphasis situations */
	--disabled-foreground: oklch(0.65 0.02 285); /* darker color for disabled effect or darker texts */
	--error: oklch(0.577 0.245 27.325); /* error color */
	--input: oklch(0.25 0.04 285); /* inputs color */
	--white: oklch(0.98 0.01 285); /* text color */
	--magenta: #a632bf; /* magenta */
	--red: oklch(58.305% 0.23863 28.392 / 0.764); /* error color */
	--blue: oklch(0.7 0.15 270); /* blue */
	--green: oklch(0.7 0.2 180); /* green */
	--orange: oklch(0.75 0.18 60); /* orange */
	--pink: oklch(0.7 0.18 350); /* pink */
}
@media (prefers-color-scheme: dark) {
  html,body {
	  background-color: var(--background);
	  color: #ffffff;
	}
}

body {
	background: black;
	background: radial-gradient(circle, var(--background) 80%, #000 140%);
	color: var(--foreground);
	font-family: system-ui, sans-serif;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 1.6;
}

body,
html {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	box-sizing: border-box;

	padding: 0;
}

* {
	::-webkit-scrollbar-thumb {
		background: color-mix(in srgb, var(--primary) 50%, transparent);
		margin: 6px;
		border-radius: 5px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: var(--primary);
	}

	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	::-webkit-scrollbar-corner {
		background-color: transparent;
	}

	/* Track */
	::-webkit-scrollbar-track {
		/* background: var(--border);  */
		border-radius: 50px;
	}
}

/* :root {
	--background: #05050d;                background color for body 
	--foreground: #f7f8ff;                text color 
	--border: #201f34;                    color for thin lines like border or hr tags 
	--card: #0c0b1a;                      lighter color for background items 
	--primary: #8868ff;                   main color for the app 
	--secondary: #19182c;                 idk 
	--accent: #a632bf;                    bright color for enphasis situations 
	--disabled-foreground: #8d8e9b;       darker color for disabled effect or darker texts 
	--error: #e7000b;                     error color 
	--input: #201f34;                     inputs color 
	--magenta: #a632bf;                   magenta 
	--red: #e7000cc3;                     error color 
	--blue: #7a97fb;                      blue 
	--green: #00c4a3;                     green 
	--orange: #fe8d00;                    orange 
	--pink: #ed68ae;                      pink 
} */
