
:root {
  --background: oklch(0.12 0.02 285);/* background color for body */
  --foreground: oklch(0.98 0.01 285);/* text color */
  --border: oklch(0.25 0.04 285);/* color for thin lines like border or hr tags */
  --card: oklch(0.16 0.03 285);/* lighter color for background items */
  --primary: oklch(0.65 0.25 285);/* main color for the app */
  --secondary: oklch(0.22 0.04 285);/* idk */
  --accent: oklch(0.55 0.22 320);/* bright color for enphasis situations */
  --disabled-foreground: oklch(0.65 0.02 285);/* darker color for disabled effect or darker texts */
  --error: oklch(0.577 0.245 27.325);/* error color */
  --input: oklch(0.25 0.04 285);/* inputs color */
  --magenta: oklch(0.55 0.22 320);/* magenta */
  --blue: oklch(0.7 0.15 270);/* blue */
  --green: oklch(0.7 0.2 180);/* green */
  --orange: oklch(0.75 0.18 60);/* orange */
  --pink: oklch(0.7 0.18 350);/* pink */
}

body{
    background-color:var(--background);
    color:var(--foreground);
    font-family: system-ui, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

body,html{

    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

main{
    width: 70%;
    height: 80%;
    padding: 20px;
    background: var(--card);
    border-radius: 15px;
    border: 1px solid var(--border);
}