main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	header {
		background-color: var(--card);
		display: flex;
		ul {
			display: flex;
			width: 100%;
			list-style: none;
			padding: 5px;
			li:first-child {
				flex-grow: 1;
			}
		}
	}
	section {
		background-color: var(--background);
		flex-grow: 1;
		display: flex;
		padding: 50px;
		padding-top: 50px;
		justify-content: center;
		align-content: start;
		flex-wrap: wrap;
		gap: 40px;
		.courseCard {
			max-width: 450px;
			min-height: 300px;
			border-radius: 15px;
			position: relative;
			cursor: pointer;
			outline: 2px solid var(--border);
			border: 10px solid var(--secondary);
			box-shadow: 10px 10px 5px #00000055;
			background-color: var(--secondary);
			transition: 0.3s box-shadow;
			&:hover {
				.image::after {
					transition: background 0.3s;
					background:transparent;
				}
			}
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				transform: translate(12px, 12px);
				width: 60%;
				height: 75%;
				border-radius: 15px;
				transition: 0.1s box-shadow;
			}
			&.tenda:hover {
				box-shadow: 0px 0px 15px 4px #eab308;
				transition: .4s box-shadow;

				&::before {
					box-shadow: 10px 10px 10px -4px #047857;
				}
			}
			&.disabled {
				position: relative;
				cursor: default;

				filter: grayscale(100%) brightness(60%);
				&::after {
					content: 'Em breve...';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, 0) rotate(-30deg) scale(2);
					filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.5)) drop-shadow(0 4px 3px rgb(0 0 0 / 1));
					font-size: 2rem;
					font-weight: 700;
					font-family: var(--roboto);
					color: var(--foreground);
				}
			}

			.image {
				border: 5px solid var(--secondary);
				border-radius: 5px;
				position: relative;
				height: fit-content;
				img {
					width: 100%;
					height: 100%;
					border-radius: 5px;
					display: block;
				}
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					border-radius: 5px;
					height: 100%;
					background: color-mix(in srgb, var(--secondary) 40%, transparent);
					box-shadow: inset 1px 1px 10px 7px #00000090;
				}
				/* border-radius: 15px; */
				/* overflow: hidden; */
			}
			.texts {
				padding: 10px;
				font-size: 1.2rem;
				font-family: var(--nunito);
				color: var(--foreground);
				display: flex;
				flex-direction: column;
				gap: 5px;
				.progress-bar {
					width: 100%;
					height: 5px;
					border-radius: 5px;
					transition: background 1s;
					margin-top: 5px;
					margin-bottom: 5px;
				}
				p {
					padding-left: 20px;
					padding-right: 20px;
				}
				h1 {
					font-size: 1.8rem;
					padding-left: 20px;
					padding-right: 20px;
					font-weight: 800;
					padding-top: 10px;
					line-height: 1.6rem;
				}
			}
		}
		@media (orientation: portrait) {
			gap: 50px;
			padding: 20px;
			.courseCard {
				width: 95%;
			}
		}
	}
	footer {
		background-color: var(--card);
	}
}
