main {
	width: 100%;
	height: 100%;
	cursor: default;
	.nodeContent {
		color: var(--disabled-foreground);
		position: relative;
		cursor:pointer;
		z-index: 1;
		&.first {
			div.nodeHtml {
				.node {
					background-color: var(--primary);
					color: var(--foreground);
				}
			}
		}
		&.last {
			div.nodeHtml {
				.node {
					border: 5px solid var(--orange);
					box-shadow: 0px 0px 100px 10px var(--orange);
				}
				p {
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
		&.disabled {
			div.nodeHtml {
				.node {
					border: 5px solid color-mix(in srgb, var(--foreground) 40%, var(--input));
					opacity: 0.7;
					filter: grayscale(0.3);
				}
			}
		}
		&.current {
			div.nodeHtml {
				.node {
					/* box-shadow: 0px 0px 50px 0px color-mix(in srgb, var(--primary) 60%, transparent); */
					background-color: color-mix(in srgb, var(--primary) 40%, var(--input));
					color: var(--foreground);
					transform: scale(1.1);


				}
				p{
					color: var(--foreground);
					background: color-mix(in srgb, var(--primary) 30%, transparent);
					padding-left: .7rem;
					padding-right: .7rem;
					top: 50%;
					left: 130%;
					transform: translate(0,-50%) scale(1.1);
					border-radius: 5px;
				}
			}
		}
		&.open{
			z-index: 99;

		}
		&.open::after{
			position: absolute;
			content:'';
			width: 30vw;
			left: 50%;
			height: 20vh;
			background-color: red;
			transform: translate(-50%,20px);
		}
		div.nodeHtml {
			display: flex;
			position: relative;
			justify-content: center;
			gap: 10px;
			align-items: center;
			flex-direction: row;
			p {
				position: absolute;
				font-size: 1.2rem;
				font-weight: 600;
				text-wrap: nowrap;
				top: 120%;
				left: 70%;
			}
			.node {
				width: 75px;
				height: 75px;
				border-radius: 20px;
				background: var(--input);
				border: 5px solid var(--primary);
				outline: solid 6px var(--input);
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				box-shadow: 8px 8px 5px 7px #00000055;
			}
		}
		.handlers {
			visibility: hidden;
		}
	}
}
.react-flow__attribution {
	display: none;
}
div.react-flow__pane.selection {
	cursor: default;
}