main{
    width:100%;
    height: 100%;
    .node{
        width: 75px;
        height: 75px;
        border-radius: 37.5px;
        background-color: var(--card);
        border: 1px solid var(--primary) ;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}