main {
	width: 100%;
	height: 100%;
	cursor: default;
	.nodeContent {
		color: var(--disabled-foreground);
		position: relative;
		@media (orientation: portrait) {
			position: static;
		}

		pointer-events: visible;
		cursor: pointer;
		z-index: 1;
		&.first {
			div.nodeHtml {
				.node {
					background-color: var(--primary);
					color: var(--foreground);
				}
			}
		}
		&.last {
			div.nodeHtml {
				.node {
					border: 5px solid var(--orange);
					box-shadow: 0px 0px 100px 10px var(--orange);
				}
				p {
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
		&.disabled {
			cursor: default;
			div.nodeHtml {
				.node {
					border: 5px solid color-mix(in srgb, var(--foreground) 40%, var(--input));
					opacity: 0.7;
					filter: grayscale(0.3);
				}
			}
		}
		&.current {
			div.nodeHtml {
				.node {
					/* box-shadow: 0px 0px 50px 0px color-mix(in srgb, var(--primary) 60%, transparent); */
					background-color: color-mix(in srgb, var(--primary) 40%, var(--input));
					color: var(--foreground);
					transform: scale(1.1);
				}
				p {
					color: var(--foreground);
					background: color-mix(in srgb, var(--primary) 30%, transparent);
					padding-left: 0.7rem;
					padding-right: 0.7rem;
					position: absolute;
					top: 50%;
					transform: translate(0%, -50%) scale(1.1);
					border-radius: 5px;
				}
			}
			&.current.leftTitle {
				div.nodeHtml {
					p {
						left: 0;
						transform: translate(-130%, -50%) scale(1.1);
					}
				}
			}
			&.current.rightTitle {
				div.nodeHtml {
					p {
						left: 130%;
					}
				}
			}
		}

		&.open::before {
			content: '';
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translate(-50%, 13px);
			z-index: 2;
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-bottom: 40px solid var(--card);
		}
		&.open::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translate(-50%, 10px);
			z-index: 1;
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-bottom: 40px solid var(--border);
		}

		div.nodeHtml {
			display: flex;
			position: relative;
			justify-content: center;
			gap: 10px;
			align-items: center;
			flex-direction: row;
			p {
				position: absolute;
				font-size: 1.2rem;
				font-weight: 600;
				text-wrap: nowrap;
				top: 120%;
				left: 70%;
			}
			.node {
				width: 75px;
				height: 75px;
				border-radius: 20px;
				background: var(--input);
				border: 5px solid var(--primary);
				outline: solid 6px var(--input);
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				box-shadow: 8px 8px 5px 7px #00000055;
			}

			@media (orientation: portrait) {
				position: static;
			}
		}
		.handlers {
			visibility: hidden;
		}
	}
}
.react-flow__attribution {
	display: none;
}
div.react-flow__pane.selection {
	cursor: default;
}
div.popUp {
	content: '';
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 30vw;
	left: 50%;
	transform: translate(-50%, 50px);
	border: 2px solid var(--border);
	background-color: var(--card);
	color: var(--foreground);
	padding: 10px;
	padding-top: 20px;
	text-align: center;
	border-radius: 15px;

	gap: 20px;
	@media (orientation: portrait) {
		width: 90vw;
	}
	.texts {
		h1 {
			font-size: 1.5rem;
		}
		p {
			font-size: 1.2rem;
		}
	}
	button {
		width: 100%;
		height: 40px;
		background-color: var(--primary);
		outline: none;
		border: none;
		color: var(--foreground);
		font-size: 1.3rem;
		border: 1px solid var(--border);
		font-weight: bold;
		border-radius: 5px;
	}
}

.nodeContent.left {
	div.popUp {
		transform: translate(-78%, 47px);
		width: 70vw;
	}
}
.nodeContent.right {
	div.popUp {
		transform: translate(-22%, 47px);
		width: 70vw;
	}
}
