body {
    background: radial-gradient(circle at 30% 30%, #181825, #0b0b13);

}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    nav {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        gap: 20px;
        font-size: 1rem;
        padding: 10px 10px 10px 10px;
        flex-wrap: wrap;

        .left {
            display: flex;
            align-items: center;
            flex: 1;
            gap: 10px;

            .exit {
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                background: color-mix(in srgb, var(--secondary) 100%, transparent);
            }

            .description {
                h1 {
                    font-size: 1.4rem;
                }

                p {
                    color: var(--disabled-foreground);
                }
            }
        }

        .right {
            display: flex;
            gap: 20px;
            font-weight: 500;
            height: 100%;

            .lives {
                display: flex;
                gap: 3px;
                align-items: center;
            }
            .progress{
                display: flex;
                align-items: center;
            }
            .timer {
                display: flex;
                gap: 3px;
                flex-direction: row;
                align-items: center;
                color: var(--primary);
            }
        }

        .progress-bar {
            flex-basis: 100%;
            width: 100%;
            height: 5px;
            border-radius: 5px;
            transition: background 1s;
        }
    }

    section {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        font-size: 1rem;
        padding: 50px;
        flex: 0 0 60%;

        .options {
            display: flex;
            margin: 80px;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;

            button {
                padding: 25px;
                background: var(--secondary);
                color: var(--foreground);
                border: 1px solid var(--border);
                font-size: 1.2rem;
                font-family: system-ui sans-serif;
                border-radius: 15px;
                text-wrap: nowrap;
                min-width: 250px;
                height: 80px;
                &:hover {
                    background: var(--primary);
                }
            }
        }
    }

    footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 30px;

        button {
            padding: 15px;
            background: var(--primary);
            color: var(--foreground);
            border: 1px solid var(--border);
            font-size: 1.1rem;
            font-family: system-ui sans-serif;
            border-radius: 15px;
            text-wrap: nowrap;
            min-width: 200px;


            &:hover {
                background: color-mix(in srgb, var(--primary) 70%, var(--background));
            }
        }
    }

}

button {
    box-shadow: 0 0 10px #000000dd;
    transition: box-shadow .3s ease, background-color .3s ease,transform .3s ease;


    &:hover {
        transform: scale(1.03);
        box-shadow: 0 0 10px var(--primary);

    }
}