@keyframes rotateSeparator {
	0%,
	100% {
		transform: rotateX(0deg);
	}
	50% {
		transform: rotateX(60deg);
	}
}
body:has(.logoutPage) {
	display: flex;
	justify-content: center;
	align-items: center;
}
body:has(.logoutPage) > header {
	position: absolute;
	top: 0;
}
@keyframes backgroundAnimation {
	0%,
	100% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 100% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	75% {
		background-position: 0% 100%;
	}
}
main.logoutPage {
	width: 100%;
	max-width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--card);
	border-radius: 15px;
	padding: 10px;
	border: 1px solid var(--border);
	box-shadow: 5px 5px 15px #00000088;
	@media (orientation: portrait) {
		max-width: 90%;
	}
	h1 {
		text-align: center;
	}
	& > svg {
		opacity: 0.9;
		color: var(--white);
		filter: drop-shadow(5px 3px 2px color-mix(in srgb, var(--primary) 80%, transparent))
			drop-shadow(5px 3px 10px color-mix(in srgb, var(--primary) 50%, transparent));
		@media (prefers-color-scheme: light) {
			filter: drop-shadow(5px 3px 2px color-mix(in srgb, var(--disabled-foreground) 80%, transparent))
				drop-shadow(5px 3px 10px color-mix(in srgb, var(--disabled-foreground) 50%, transparent));
		}
	}
	.header {
		padding-bottom: 30px;
		width: 100%;
		p {
			padding: 5px;
			padding-right: 15px;
			padding-left: 15px;
			font-family: var(--varela);
			font-size: 1.1rem;
			text-align: center;
			color: var(--disabled-foreground);
		}
	}
	.main {
		width: 100%;
		.options {
			display: flex;
			gap: 10px;
			align-items: center;

			.logout-btn,
			.cancel-btn {
				flex: 1;
				background-color: var(--input);
				color: var(--foreground);
				text-decoration: none;
				height: 50px;
				border: none;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.2rem;
				border-radius: 5px;
				font-family: var(--lato);
				font-weight: 700;
				border: 1px solid var(--lighter-border);
				transition: transform 0.3s ease, background 0.3s ease;
				&:hover {
					transform: scale(1.03);
				}
			}
			.logout-btn {
				position: relative;
				background-color: var(--red);
				max-width: 43%;
				svg {
					margin-right: 5px;
					transition: transform 0.2s;
				}
				&:hover {
					background-color: color-mix(in srgb, var(--red) 85%, var(--foreground));
					svg {
						transition: transform 0.5s;
						transform: rotateY(360deg) scale(1.3);
					}
				}
			}
			.cancel-btn {
				&:hover {
					background-color: color-mix(in srgb, var(--input) 95%, var(--foreground));
				}
			}
		}
	}
}
