@keyframes wrong {
	10% {
		border: 2px solid var(--red);
	}
	20%,
	60% {
		transform: rotate(0.7deg);
	}
	80%,
	40% {
		transform: rotate(-0.7deg);
	}
	100% {
		border: 2px solid var(--red);
		transform: rotate(0.7deg);
	}
}
@keyframes fall {
	0% {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
	10% {
		transform: translateX(10vw) translateY(6px);
		opacity: 1;
	}
	20% {
		transform: translateX(20vw) translateY(24px);
		opacity: 1;
	}
	30% {
		transform: translateX(30vw) translateY(54px);
		opacity: 1;
	}
	40% {
		transform: translateX(40vw) translateY(96px);
		opacity: 1;
	}
	50% {
		transform: translateX(50vw) translateY(150px);
		opacity: 1;
	}
	60% {
		transform: translateX(60vw) translateY(216px);
		opacity: 1;
	}
	70% {
		transform: translateX(70vw) translateY(294px);
		opacity: 0.66;
	}
	80% {
		transform: translateX(80vw) translateY(384px);
		opacity: 0.33;
	}
	90% {
		transform: translateX(90vw) translateY(486px);
		opacity: 0.15;
	}
	100% {
		transform: translateX(100vw) translateY(600px);
		opacity: 0;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(0deg);
	}
}

@keyframes hide {
	30% {
		transform: scale(1);
	}
	50% {
		transform: scale(0) rotate(135deg);
	}
	90%,
	100% {
		transform: scale(0) rotate(135deg);
	}
}

@keyframes next {
	66.66% {
		transform: translateX(-140vw);
	}
	66.661% {
		transform: translateX(100vw);
	}

	100% {
		transform: translateX(0);
	}
}
body {

	overflow: hidden;
}
div.popUp {
	background: var(--card);
	border: 1px solid var(--border);
	min-width: 300px;
	max-width: 500px;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 20px;
	box-shadow: 0 0 10px #000000dd;
	&.show {
		transform: translate(-50%, -50%) scale(1);
		transition: transform 0.15s linear;
	}
	.texts {
		h1 {
			margin-bottom: 10px;
		}
		p {
			font-size: 1.1rem;
		}
		margin: 20px;
		margin-bottom: 0;
	}
	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 10px;
		margin: 15px;
		margin-top: 0;
		flex-wrap: nowrap;

		button {
			background: var(--input);
			border: 1px solid var(--border);
			flex-grow: 1;
			text-wrap: nowrap;
			color: var(--foreground);
			cursor: pointer;
			border-radius: 5px;
			outline: none;
			font-size: 1.2rem;
			padding: 15px;
			transition: background-color 0.1s linear;
			&:hover {
				background-color: color-mix(in srgb, var(--input) 95%, var(--foreground));
			}
			&.active {
				background-color: var(--primary);
				&:hover {
					background-color: color-mix(in srgb, var(--primary) 70%, var(--background));
				}
			}
		}
	}
}
main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
	width: 80%;
	background: var(--card);
	border-radius: 15px;
	border: 1px solid var(--border);

	&.next {
		animation: next 1.5s linear 1;
	}
	&.wrong {
		animation: wrong 0.8s linear 2 alternate;
	}

	&.lose {
		border: 1px solid var(--red);
		animation: hide 2s linear 1 forwards;
	}

	&.finish {
		animation: hide 2s linear 1 forwards;
		border: 1px solid var(--green);
	}

	&.correct {
		button {
			background-color: var(--green);
			&:hover {
				background: color-mix(in srgb, var(--green) 80%, var(--background));
			}
		}
	}

	div.popUp.show ~ & {
		visibility: hidden;
	}
	nav {
		display: flex;
		flex-direction: row;
		align-items: end;
		justify-content: space-between;
		gap: 20px;
		font-size: 1rem;
		padding: 10px 10px 10px 10px;
		flex-wrap: wrap;

		.left {
			display: flex;
			align-items: center;
			flex: 1;
			gap: 15px;
			margin-left: 20px;

			.exit {
				height: 40px;
				width: 40px;
				color: var(--foreground);
				cursor: pointer;
				border: none;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 8px;
				background: color-mix(in srgb, var(--input) 75%, var(--background));
				transition: transform 0.3s ease, background 0.3s ease;
				&:hover {
					background: color-mix(in srgb, color-mix(in srgb, var(--input) 75%, var(--background))95%, #fff);

					transform: scale(110%);
				}
			}

			.description {
				h1 {
					font-size: 1.4rem;
				}

				p {
					color: var(--disabled-foreground);
				}
			}
		}

		.right {
			display: flex;
			gap: 20px;
			font-weight: 500;
			margin-right: 20px;

			font-size: 1.2rem;
			.lives {
				display: flex;
				gap: 3px;
				align-items: center;
			}
			.progress {
				display: flex;
				align-items: center;
			}
			.timer {
				display: flex;
				gap: 3px;
				flex-direction: row;
				align-items: center;
				color: var(--primary);
			}
		}

		.progress-bar {
			flex-basis: 100%;
			width: 100%;
			height: 5px;
			border-radius: 5px;
			transition: background 1s;
		}
	}

	& > section {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		flex-direction: column;
		font-size: 1rem;
		/* padding: 50px; */
		height: 100%;
		.options {
			display: flex;
			margin-left: 80px;
			margin-right: 80px;
			justify-content: center;
			flex-wrap: wrap;
			gap: 30px;
			position: relative;

			button {
				padding: 25px;
				background: color-mix(in srgb, var(--input) 75%, var(--background));
				color: var(--foreground);
				border: 1px solid var(--border);
				font-size: 1.2rem;
				font-family: system-ui sans-serif;
				border-radius: 15px;
				text-wrap: nowrap;
				min-width: 250px;
				height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
				&:hover {
					background: var(--primary);
				}
				&.selected {
					background-color: var(--primary);
				}
				box-shadow: 0 0 10px #000000dd;

				&:hover,
				&.selected {
					transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
				}
				&:hover {
					transform: scale(1.03);
					box-shadow: 0 0 10px var(--primary);
				}
			}
		}
		div.codeSpace {
			display: flex;
			width: 100%;
			height: 60vh;
			&:has(pre.code) {
				height: 100%;
			}
			& > section {
				margin: 10px;
				border-radius: 15px;
				overflow: hidden;
				width: 100%;
				height: 100%;
				min-width: 50%;
				resize: horizontal;
			}
			pre {
				display: flex;
				text-align: start;
				color: var(--foreground);
				min-width: 10%;
				flex: 1;
				font-size: 0.9rem;
				padding: 10px;
				background-color: var(--input);
				border-radius: 15px;
				box-shadow: 0 0 10px #000;
				border: 1px solid var(--border);
				overflow: scroll;
				margin: 8px;

				&.output {
					background-color: color-mix(in srgb, var(--input) 40%, transparent);
					display: flex;
					height: 60vh;

					div.output {
						padding: 10px;
						box-sizing: border-box;
						padding-left: 20px;
						width: 100%;
					}
					div.result {
						font-size: 1.05rem;
						min-width: fit-content;
						text-align: center;
						color: var(--primary);
						background-color: color-mix(in srgb, var(--primary) 8%, transparent);
						padding: 5px;
						border-radius: 5px;
					}
				}
				&.error {
					font-size: 1rem;
					min-width: 45%;
					display: block;
					height: 60vh;
					overflow: visible;
					padding: 10px;
					text-wrap: initial;
				}
			}

			code {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}

	footer {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		margin: 20px;
		margin-top: 30px;

		button {
			padding: 15px;
			background: var(--primary);
			color: var(--foreground);
			border: 1px solid var(--border);
			font-size: 1.1rem;
			font-family: system-ui sans-serif;
			border-radius: 15px;
			text-wrap: nowrap;
			min-width: 200px;

			&:hover {
				background: color-mix(in srgb, var(--primary) 70%, var(--background));
			}
		}
	}
}

div.wrong {
	animation: 1s linear forwards fall;
	button.wrong {
		animation: 1s linear reverse rotate none;
	}
}

@media (max-width: 915px) {
	main {
		padding: 10px;
		nav {
			align-items: center;
		}

		& > section {
			.codeSpace {
				pre.output {
					height: 95%;
				}
			}
			.options {
				margin-left: 0;
				margin-right: 0;
			}
		}

		footer {
			margin-top: 8px;
		}
	}
}
@media (max-height: 900px) {
	main {
		& > section {
			height: 90%;
			font-size: 0.8rem;
			.codeSpace {
				height: 100% !important;
				&:has(pre.code) {
					margin: 20px !important;
					margin-top: 0;
				}
				section {
					height: 90% !important;
				}
				pre.output,
				pre.error {
					height: 90% !important;
				}
			}
		}
	}
}

@media (max-height: 680px) {
	body {
		overflow: auto;
	}
	main {
		width: 100%;
		height: 100%;
		border-radius: 0;
		nav {
			align-items: end;
			.left {
				margin: 0;
				.description {
					h1 {
						font-size: 1.2rem !important;
					}
				}
			}
			.right {
				font-size: 0.8rem;
				justify-content: end;
				width: 40%;
				margin-right: 0;
			}
		}
		& > section {
			h1 {
				font-size: 1.3rem;
			}
			justify-content: start;
			padding-top: 0px;
			height: 60%;
			div.codeSpace {
				width: 95% !important;
				height: 90% !important;
				flex-direction: column;
				section {
					margin: 0 !important;
					height: 70% !important;
					width: 100% !important;
					resize: vertical;
				}
				pre.output {
					margin: 0;
					margin-top: 10px;
				}
				pre.error {
					overflow: scroll !important;
					height: 50% !important;
				}
			}
			.options {
				padding-top: 10vh;

				div {
					max-width: 50%;
					button {
						/* padding: 10px !important; */
						min-width: 100%;
						text-align: center;
					}
				}
			}
		}
	}
}
@media (max-height: 500px) {
	main {
		& > section {
			div.codeSpace {
				&:has(pre.code) {
					margin: 20px !important;
				}
				& > section {
					height: 40% !important;
				}

				pre.output {
					height: 10vh !important;
					code {
						div.output {
							font-size: 0.8rem;
						}
						div.result {
							font-size: 0.8rem;
							padding: 2px;
						}
					}
				}
			}
		}
	}
}

@media (orientation: portrait) {
	body {
		& > main {
			animation: none !important;
			width: 100%;
			height: 100%;
			border-radius: 0;
			border: none;
			justify-content: start;
			nav {
				align-items: center;
				padding: 5px;
				gap: 5px;
				justify-content: center;
				.left {
					margin: 0;
					flex-basis: 100%;
					justify-content: start;
					padding-bottom: 30px;
					padding-top: 10px;
					.exit {
						width: 55px !important;
						height: 55px !important ;
					}
					.description {
						padding-left: 10px;
						h1 {
							font-size: 1.2rem !important;
						}
					}
				}
				.right {
					font-size: 1rem;
					justify-content: space-evenly;
					align-items: center;
					width: 100%;
					margin-right: 0;
					padding-bottom: 10px;
				}
				.progress-bar{
					height: 10px;
				}
			}
			& > section {
				flex-grow: 1;
				justify-content: space-evenly !important;
				overflow-y: auto;
				overflow-x: hidden;

				h1 {
					font-size: 1.2rem;
				}
				padding-top: 20px;
				justify-content: start;
				height: 60%;
				div.codeSpace {
					width: 95% !important;
					height: 90% !important;
					flex-direction: column;
					&:has(pre.code) {
						margin: 20px !important;
					}
					section {
						margin: 0 !important;
						height: 70% !important;
						width: 100% !important;
						resize: vertical;
					}
					pre.output {
						margin: 0;
						margin-top: 10px;
					}
					pre.error {
						overflow: scroll !important;
						height: 50% !important;
					}
				}
				.options {
					padding-top: 10px;
					padding-bottom: 3vh;
					flex-grow: 1;
					align-items: center;
					align-content: center;
					width: 100%;
					gap: 3vh !important;

					div {
						width: 92%;
						max-width: 100%;
						button {
							/* padding: 10px !important; */
							min-width: 100%;
							height: 60px;
							text-align: center;

							&.selected {
								transform: rotate(-1.5deg);
							}
						}
					}
				}
			}
			footer {
				position: relative;
				bottom: 0;
				button {
					width: 100%;
					height: 70px;
					transition: background 0.2s linear;
				}
			}
			&.wrong {
				footer {
					button {
						background: color-mix(in srgb, var(--red) 80%, var(--primary));
					}
				}
			}
		}
	}
}
