body>header{
	z-index: 2;
}
main {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: default;
	.nodeContent.practice {
		color: var(--disabled-foreground);
		position: relative;
		@media (orientation: portrait) {
			div.popUp {
				width: 320px;
				max-width: 73vw;
			}
			&.left {
				div.popUp {
					transform: translate(-78%, 47px);
					width: 300px;
				}
			}
			&.right {
				div.popUp {
					transform: translate(-22%, 47px);
					width: 300px;
				}
			}
		}

		pointer-events: visible;
		cursor: pointer;
		z-index: 1;
		&.first {
			div.nodeHtml {
				.node {
					background-color: var(--primary);
					color: var(--white);
				}
			}
		}
		&.disabled {
			cursor: default;
			div.nodeHtml {
				.node {
					border: 5px solid color-mix(in srgb, var(--foreground) 40%, var(--input));
					opacity: 0.7;
					filter: grayscale(0.3);
				}
			}
		}
		&.last {
			div.nodeHtml {
				.node {
					border: 5px solid var(--orange);
					box-shadow: 0px 0px 100px 10px var(--orange);
				}
				p {
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&.disabled {
				div.nodeHtml {
					.node {
						border: 5px solid color-mix(in srgb, var(--orange) 30%, var(--background));
						opacity: 0.7;
						box-shadow: 0px 0px 100px 10px color-mix(in srgb, var(--orange) 70%, var(--background));
						@media (prefers-color-scheme: dark) {
							border: 5px solid color-mix(in srgb, var(--orange) 30%, var(--background));
							opacity: 1;
							box-shadow: 0px 0px 100px 10px color-mix(in srgb, var(--orange) 30%, var(--background));
						}
					}
				}
			}
		}
		&.current {
			div.nodeHtml {
				.node {
					/* box-shadow: 0px 0px 50px 0px color-mix(in srgb, var(--primary) 60%, transparent); */
					background-color: color-mix(in srgb, var(--primary) 40%, var(--input));
					color: var(--white);
					transform: scale(1.1);
				}
				p {
					color: var(--foreground);
					background: color-mix(in srgb, var(--primary) 30%, transparent);
					padding-left: 0.7rem;
					padding-right: 0.7rem;
					position: absolute;
					top: 50%;
					transform: translate(0%, -50%) scale(1.1);
					border-radius: 5px;
				}
			}
			&.current.leftTitle {
				div.nodeHtml {
					p {
						left: 0;
						transform: translate(-130%, -50%) scale(1.1);
					}
				}
			}
			&.current.rightTitle {
				div.nodeHtml {
					p {
						left: 130%;
					}
				}
			}
		}

		&.open::before {
			content: '';
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translate(-50%, 13px);
			z-index: 2;
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-bottom: 40px solid var(--card);
		}
		&.open::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translate(-50%, 10px);
			z-index: 1;
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-bottom: 40px solid var(--border);
		}

		div.nodeHtml {
			display: flex;
			position: relative;
			justify-content: center;
			gap: 10px;
			align-items: center;
			flex-direction: row;
			transition: transform 0.1s ease;
			p {
				position: absolute;
				font-size: 1.2rem;
				font-weight: 600;
				text-wrap: nowrap;
				top: 120%;
				left: 70%;
			}
			.node {
				width: 75px;
				height: 75px;
				border-radius: 20px;
				background: var(--input);
				border: 5px solid var(--primary);
				outline: solid 6px var(--input);
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				box-shadow: 8px 8px 5px 7px #00000055;
			}

			@media (orientation: portrait) {
				position: static;
			}
		}
		&.enabled:hover .nodeHtml {
			transform: scale(1.1);
		}
	}
	.nodeContent.teoric {
		background-color: var(--card);
		border: 1px solid var(--border);
		max-width: 45vw;
		height: 300px;
		border-radius: 20px;
		box-shadow: 8px 8px 20px 20px #00000077;
		text-align: center;
		transform: scale(0.8);
		padding: 20px;
		padding-top: 10px;
		font-size: 1.1rem;
		.texts {
			display: flex;
			flex-direction: column;
			gap: 40px;
			div {
				h1 {
					text-align: center;
					padding-bottom: 10px;
				}
			}
			p {
				font-size: 1.3rem;
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		@media (orientation: portrait) {
			& {
				transform: scale(1);
				text-align: start;
				font-size: 1rem;

				max-width: 95vw;
			}
		}
	}
	aside {
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translateY(-50%);
		z-index: 101;
		background-color: color-mix(in srgb, var(--background) 100%, var(--primary));
		padding: 20px;
		border-radius: 15px;
		box-shadow: inset 3px 3px 10px 3px #000000aa, 5px 5px 15px color-mix(in srgb, var(--primary) 15%, transparent);
		width: 180px;

		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;
			li {
				list-style: none;
				display: flex;
				flex: 1 1 auto;

				button {
					font-weight: 500;
					font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
						Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
					background: var(--card);
					border: none;
					color: var(--foreground);
					height: 40px;
					padding: 5px;
					border-radius: 5px;
					font-size: 1.2rem;
					flex: 1 1 auto;
					text-align: start;
					cursor: pointer;
					padding-left: 20px;
					box-shadow: inset 8px 8px 20px -6px color-mix(in srgb, var(--primary) 40%, transparent),
						-1px -1px 4px color-mix(in srgb, var(--foreground) 15%, transparent), 4px 4px 4px 3px #000000aa;
					transition: transform 0.1s ease, box-shadow 0.2s ease, background-color 0.2s ease;
					&:hover,
					&.active {
						background-color: var(--primary);
						box-shadow: inset 8px 8px 10px 0px color-mix(in srgb, var(--foreground) 25%, transparent),
							inset -8px -8px 10px 0px color-mix(in srgb, #000 50%, transparent),
							4px 4px 4px 3px #000000aa;
					}
					&:hover {
						transform: scale(1.05);
					}
				}
			}
		}
	}
	.goToTop,
	.goToCurrent,
	.goToBottom {
		border-radius: 20px;
		background: var(--background);
		color: var(--foreground);
		border: 2px solid var(--border);
		z-index: 1;
		padding: 10px;
		cursor: pointer;

		position: absolute;
		right: 20px;

		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
	}
	.goToCurrent {
		bottom: 65px;
	}
	.goToTop {
		bottom: 110px;
	}
	.goToBottom {
		bottom: 20px;
	}
	@media (orientation: portrait) {
		div.blur {
			position: absolute;
			width: 100%;
			height: 160px;
			transform: translateY(-50%);
			backdrop-filter: blur(2px);
			top: 0;
			z-index: 99;
		}
		aside {
			top: 20px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 90vw;
			box-shadow: inset 3px 3px 10px 3px #000000aa,
				5px 5px 15px color-mix(in srgb, var(--primary) 15%, transparent),
				-3px -3px 8px 0px color-mix(in srgb, var(--foreground) 15%, transparent);
			padding: 10px;
			ul {
				flex-direction: row;
				justify-content: space-evenly;

				li {
					button {
						height: 50px;
					}
				}
			}
		}
	}
}
.handlers {
	visibility: hidden;
}
.react-flow__attribution {
	display: none;
}
div.react-flow__pane.selection {
	cursor: default;
}
div.popUp {
	content: '';
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 30vw;
	max-width: 300px;
	left: 50%;
	transform: translate(-50%, 50px);
	border: 2px solid var(--border);
	background-color: var(--card);
	color: var(--foreground);
	padding: 10px;
	padding-top: 10px;
	text-align: center;
	border-radius: 15px;

	gap: 20px;
	@media (orientation: portrait) {
		width: 90vw;
	}
	header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 15px;
		div.hearts {
			height: 100%;
			display: flex;
		}
		p {
			flex-grow: 1;
			text-align: end;
			padding-right: 15px;
			font-weight: 500;
		}
	}
	.texts {
		h1 {
			font-size: 1.2rem;
		}
		p {
			font-size: 1.1rem;
		}
	}
	button {
		width: 100%;
		height: 40px;
		background-color: var(--primary);
		outline: none;
		border: none;
		color: var(--foreground);
		font-size: 1.3rem;
		border: 1px solid var(--border);
		font-weight: bold;
		cursor: pointer;
		border-radius: 10px;
		&:hover {
			background-color: color-mix(in srgb, var(--primary) 70%, var(--background));
		}
	}
}
@media (orientation: portrait) {
	body>header {
		position: absolute;
		bottom: 10px;
		top: unset;
		z-index: 500;
		height: fit-content;
	}
	main {
		height: calc(100% - 80px);
	}
}
body > header {
	position: absolute;
}
