.target-cursor-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  &.cursorWarn {
    .target-cursor-dot{
      background: color-mix(in srgb, var(--foreground) 50%, red);
    }
    .target-cursor-corner{
      border-color: color-mix(in srgb, var(--foreground) 50%, red);
    }
  }
  cursor: none;
}

.target-cursor-dot {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 4px;
  background: var(--foreground);
  @media (prefers-color-scheme: dark) {
    background: var(--background);
    
  }
  border-radius: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.target-cursor-corner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 12px;
  border: 3px solid var(--foreground);
  will-change: transform;
}

.corner-tl {
  transform: translate(-150%, -150%);
  border-right: none;
  border-bottom: none;
}

.corner-tr {
  transform: translate(50%, -150%);
  border-left: none;
  border-bottom: none;
}

.corner-br {
  transform: translate(50%, 50%);
  border-left: none;
  border-top: none;
}

.corner-bl {
  transform: translate(-150%, 50%);
  border-right: none;
  border-top: none;
}
@media (prefers-color-scheme: light) {
    .target-cursor-dot{
      background: var(--background);
    }
    .target-cursor-corner{
      border-color:var(--background);

    }
    
  }